* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: auto;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-text {
  padding-top: 20px;
  padding-left: 20px;
  color: gray;
}

main {
  width: 840px;
  display: block;
  justify-content: center;
  margin: 0 auto;
}

.item {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f7f7f7;
}
